.card {
  cursor: pointer;
  overflow: hidden; }

.card-img-top {
  transition: all .25s ease-in-out; }

.card-img-top:hover {
  transform: scale(1.05); }

.card-title {
  text-align: center; }

.margin-bottom-wrapper {
  margin-bottom: 30px; }

.home-page-collection:last-child {
  margin-bottom: 70px; }

.card-category {
  overflow: hidden;
  cursor: auto; }

.card-img-top-category {
  transition: all .25s ease-in-out; }

.card-img-top-category:hover {
  transform: scale(1.05); }

.card-release-date {
  margin-bottom: 30px; }

.category-card {
  margin-left: 10px; }
